:root{
    --first-color: #757575;
    --second-color: #212121;
    --logo-color:#2196F3;
    --social-color: rgba(175, 177, 184, 1);
    --background-buttom:#188CE8;
    --address-color:#FFFFFF;
    --background-first: #E5E5E5;
    --background-second:#F5F4FA;
    --background-head:#FFFFFF;
    --background-footer: #2F303A;}

body{
font-family: 'Roboto', sans-serif;
font-size: 14px;
color: var(--first-color);
background: var(--background-head);
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-right: auto;
    margin-left: auto;
    }
.header{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #ECECEC;
}
.header_nav{
display: flex;
align-items: center;
}
.logo {
color: var(--logo-color);
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
text-decoration: none;
margin-right: 93px;
display: inline-block;
padding-top: 24px;
padding-bottom: 24px;
}
.logo_style {
    color: var(--second-color);
}
.nav_list{
list-style-type: none;
margin: 0;
padding-left: 0;
display: flex;
}
.nav_item{
margin-right: 50px;
}
.nav_item:last-child{
margin-right: 0;
}
.nav_link{
display: block;
text-decoration: none;
font-weight: 500;
line-height: 1.14;
letter-spacing: 0.02em;
color: var(--second-color);
list-style-type: none; 
padding-top: 32px; 
padding-bottom: 32px;

transition-property:  color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.current{
    color: var(--logo-color);
    position: relative;
}
.current::after{
content: "";
display: block;
background-color: currentColor;
background-image: url(../image/hover.svg);
width: 100%;
height: 4px;
border-radius: 2px;
padding-bottom: 0;
position: absolute;
left: 0;
bottom: -2px;
}

.nav_link:hover, .nav_link:focus,
.nav_link:active,
.contact_link:hover, .contact_link:focus
 {
    color: var(--logo-color);
 }
 

.icon{
    margin-right: 10px;
    fill: currentColor;
    ;
}

.contact_list {
list-style-type: none;
padding-left: 0;
margin: 0;
display: flex;
margin-left: auto;
align-items: center;
}
.contact_item{
    margin-left: 50px;
    
}
.contact_item:first-child{
    margin-left: 0;
}
.contact_link{
    display: flex;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--first-color);
    text-decoration: none;
    align-items: center; 
    padding-top: 32px;
    padding-bottom: 32px;

transition-property:  color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
    }
  
.section{
margin-top: 0;
margin-bottom: 0;
padding-top: 94px;
padding-bottom: 94px;
}
.hero{
    background: #2F303A;
    text-align: center;
    height: 600px;
    max-width: 1600px;
    display: block;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4) ,rgba(47, 48, 58, 0.4)),
    url(../image/hero.jpg);
    margin-left: auto;
    margin-right: auto;
    padding-top: 200px;
    padding-bottom: 200px;
    background-size: cover;
    background-position: center;

}
.title {
color: var(--address-color);
font-weight: 900;
font-size: 44px;
line-height: 1.36;
letter-spacing: 0.06em;
text-transform: uppercase;
width: 696px;
margin-left: auto;
margin-right: auto;
margin-bottom: 30px;
margin-top: 0;
}
.button_title {
background-color: var(--logo-color);
color: var(--address-color);
font-family: inherit;
font-weight: 700;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.06em;
border: 0;
padding: 10px 32px;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
border-radius: 4px;

transition-property: background-color, color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.button_title:hover, .button_title:focus,
.button_title:active{
    background-color: var(--background-buttom);
    color: var(--address-color);
    cursor: pointer;
}
.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.2); 
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) ;
    }
    .backdrop.is-hidden{
    opacity: 0;
    pointer-events: none;
    }
    .modal{
    height: 581px;
    width: 528px;
    background-color: var(--background-head);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    align-items: flex-start;
    display: flex;
    justify-content: flex-end;
    }
    .backdrop.is-hidden .modal{
        transform: scale(0.5) translate(-50%, -50%)
    }
    .button_close{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
    background: var(--address-color);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    box-sizing: border-box;
    }
    .button_close::before{
content: "";
background-image: url(../image/close3.svg);
width: 11px;
height: 11px;
background-size: contain;
    }
    
.peculiarities{
padding-bottom: 47px;
}
.peculiarities_list {
list-style-type: none;
padding-left: 0;
margin-top: 0;
margin-bottom: 0;
display: flex;
}
.peculiarities_item{
    margin-right: 30px;
    justify-content: space-between;
}
.peculiarities_item:last-child{
    margin-right: 0;
}
.peculiarities_subtitle::before{
    content: "";
    display: block;
    width: 270px;
    height: 120px;
    background: var(--background-second);
border-radius: 4px;  
margin-bottom: 30px;
background-repeat: no-repeat;
background-position: center;

}
.antenna::before{
    background-image: url(../image/antenna1.svg);
}
.clock::before{
    background-image: url(../image/clock1.svg);
}
.diagram::before{
    background-image: url(../image/diagram1.svg);
}
.astronaut::before{
    background-image: url(../image/astronaut1.svg);
}
.peculiarities_subtitle {
font-weight: 700;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--second-color);
margin-top: 0;
margin-bottom: 10px;
}
.peculiarities_text {
line-height: 1.71;
letter-spacing: 0.03em;
margin-top: 0;
margin-bottom: 0;
}
.works{
padding-top: 47px;
}
.works_title, .team_title, .clients_title {
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color: var(--second-color);
text-align: center;
margin-top: 0;
margin-bottom: 50px;
}
.works_list, .team_list, .clents_list{
    list-style-type: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
 }
 .work_foto{
    display: block;
    max-width: 100%;
    height: auto; 
    
 }
.works_item{
    margin-right: 30px; 
    position: relative;  
}
.works_item:last-child{
    margin-right: 0;
}
.works_text{
display: block;
width: 100%;
height: 70px;
margin: 0;
background-color: rgba(47, 48, 58, 0.8);
font-size: 14px;
line-height: 1.14;
font-weight: bold;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: var(--address-color);
padding-top: 27px;
padding-bottom: 27px;
position: absolute;
left: 0;
bottom: 0;
}
.team{
    background-color: var(--background-second);
}
.team_foto{
    display: block;
    max-width: 100%;
    height: auto;
}
.team_conteiner{
padding: 30px;
}
.team_name{
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--second-color);
text-align: center;
margin-bottom: 10px;
margin-top: 0;
}
.team_item{
width: 270px;
background-color: var(--background-head);
margin-right: 30px;
box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
border-radius: 0px 0px 4px 4px;
}
.team_item:last-child{
    margin-right: 0;
}
.team_profession {
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
text-align: center;
margin-top: 0;
margin-bottom: 0;
}
.client_link{
    fill: var(--social-color);
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.client_link:hover, .client_link:focus{
    fill: var(--logo-color);
}
.social_list{
list-style-type: none;
display: flex;
padding-left: 0;
align-items: center;
margin-top: 16px;

}
.social_item{
width: 44px;
height: 44px;
margin-right: 10px;
}
.social_item:last-child{
    margin-right: 0;
}
.social_link:hover, .social_link:focus, .social_link:active {

background-color:var(--logo-color);
border-radius: 50%;
fill: var(--address-color);  

}
.social_link{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
width: 44px;
height: 44px;
fill: var(--social-color);

transition-property: background-color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.client_item{
width: 170px;
height: 92px;
border: 1px solid #AFB1B8;
box-sizing: border-box;
border-radius: 4px;
margin-right: 30px;
}
.client_link{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
height: 100%;


}
.footer {
    background-color: var(--background-footer);
    padding-top: 60px;
    padding-bottom: 60px;
   }
   .footer_style{
    display: flex;
    align-items: baseline;
   }
.logo_footer{
font-family: Raleway;
font-weight: bold;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--logo-color);
text-decoration: none;
background-color: var(--background-footer);
}
.logo_footer_style{
    color: var(--address-color);
}
.address{
    margin-top: 20px;

}
.address_list{
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}
.address_item{
list-style-type: none;
margin-bottom: 9px;
}
.address_item:last-child{
    margin-bottom: 0;
}
.address_link{
text-decoration: none;
font-style: normal;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--address-color);
background-color: var(--background-footer);
transition-property: color;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
.info{
    color: rgba(255, 255, 255, 0.6);
}
.address_link:hover,
.address_link:focus{
    color: var(--logo-color);
}
.social{
    margin-left: 70px;

}
.social_name{
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-top: 0;
}
.social_list_footer{
    list-style-type: none;
    display: flex;
    padding-left: 0;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 0;
}
.social_link_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    fill:var(--address-color);
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
}
.social_link_footer:hover, .social_link_footer:focus, .social_link_footer:active{
    background-color: var(--logo-color);
}

/*Portfolio*/
.portfolio{
    border-bottom: 1px solid #ECECEC;
}
.filter_list{
list-style-type: none;
display: flex;
justify-content: center;
padding: 0;
margin-top: 0;
margin-bottom: 50px;
}
.filter_item{
    margin-right: 8px;
}
.filter_item:last-child{
    margin-right: 0;
}
.filter_button{
font-weight: 500;
font-size: 16px;
line-height: 1.62;
font-family: inherit;
text-align: center;
padding: 6px 22px;
letter-spacing: 0.03em;
color:var(--second-color);
background-color: var(--background-second);
border: var(--background-second);
border-radius: 4px;

transition-property: background-color, color, box-shadow;
transition-duration: 250ms;
transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.filter_button:hover, 
.filter_button:focus{
color: var(--address-color);
background-color: var(--logo-color);
cursor: pointer;
box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
border-radius: 4px;

}
.all {
    background-color: var(--logo-color);
    color: var(--address-color);
}
.project_list{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
    }
    .project_item{
        margin-right: 30px;
        margin-bottom: 30px;
        transition-property: box-shadow;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)
        
        
    }
    .project_item:nth-child(3n)
    {
        margin-right: 0;
    }
    .project_item:nth-last-child(-n+3){
        margin-bottom: 0;
    }
    .project_link{
    text-decoration: none;
        box-sizing: border-box;
        
       
    }
    .project_item:hover, .project_item:focus{
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    }
    
    .project_image{
        display: block;
        max-width: 100%;
        height: auto;
        overflow: hidden;
                
    }
    .project_container {
    box-sizing: border-box;
    padding: 20px;
    border: 1px solid #EEEEEE;
    border-top: 0;
    }
    .project_subtitle{
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.05em;
    color: var(--second-color);
    margin-top: 0px;
    margin-bottom: 0;
    }
    .project_text{
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: var(--first-color);
    margin-top: 4px;
    margin-bottom: 0px;
    }
    .project_position{
        display: block;
    width: 370px;
    height: 294px;
    position: relative;
    }
    .project_hover{
    display: block;
    width: 322px;
    height: 168px;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;
    color: var(--address-color);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateY(100%);
    opacity: 0;
            
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    }
    .project_position:hover .project_hover, 
    .project_position:focus .project_hover,
    .project_position:active .project_hover{
        opacity: 1;
        transform: translateY(0) translate(-50%, -50%);
    }
    .project_position::before{
        content: "";
        display: inline-block;
        width: 100%;
        height: 100%;
        background-color:rgba(33, 150, 243, 0.9) ;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        transform: translateY(100%);
        
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }
    .project_position:hover::before, 
    .project_position:focus::before,
    .project_position:active::before{
    opacity: 1;
    transform: translateY(0);
    }

